
/* * action bar */
.article__actionBar {
	padding: 0 0.5em;
	margin-top: -1.2em;
	/* background-color: cyan; */
	display: flex;
	align-items: center;
}
.article__actionBar__icon__container {
}
.article__actionBar__icon__container__button {
	padding: 0.5em;
	background-color: transparent;
	border: none;
	outline: none;
}
.article__actionBar__icon__container__button__icon {
    cursor: pointer;
	/* outline-width: .1em; */
}

.send__icon {
	transform: rotate(-45deg) translate(0.2em, -0.4em);
}
.bookmark__icon {
	margin-left: auto;
}
