@import "../../styles/utils/variable";
@import "../../styles/utils/media";

.article {
	width: 100%;
	margin-bottom: 0;
	// min-height: ;

	@include media(">query-tablet") {
		margin-bottom: 1em;
		border: 1px solid $border-color;
		border-radius: 4px;
	}

	@include media(">query-desktop") {
		margin-bottom: 4rem;
	}

	// * header author
	&__author {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em;

		&__avatar {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			overflow: hidden;
			/* max-width: 2em;
			max-height: 2em;
			min-height: 100%;
			width: 100%; */
			padding: 0.14em;
			background: linear-gradient(to bottom, red, purple);

			&__image {
				max-width: $header-avatar-size;
				max-height: $header-avatar-size;
				height: $header-avatar-size-min;
				width: $header-avatar-size-min;
				border: 0.14em solid white;
				background-color: white;
				/* font-size: 1em; */
				/* box-sizing: border-box; */
				color: $font-color;
				border-radius: 50%;
			}
		}

		&__description {
			display: flex;
			flex: 1;
			margin-left: 14px;

			&__name {
				/* background-color: aqua; */
				display: flex;
				flex-direction: column;
			}
			&__name__name {
				color: $font-color;
				display: block;
				font-size: 0.9em;
				font-weight: 500;
				text-decoration: none;
			}
			&__name__location {
				color: $font-color;
				margin-top: 0.2em;
				text-decoration: none;
				display: block;
				font-size: 0.8em;
			}
			&__option {
				margin: auto 0;
				margin-left: auto;
			}
		}
	}
}

// * Article images
.article__images__container {
	max-width: $image-article-size;
	max-height: $image-article-size;
	min-width: $image-article-size-min;
	min-height: $image-article-size-min;

	&__image {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
}

.article__images__carousel {
	// * Coursel images
	.carousel-dots {
		display: flex;
		flex-direction: row;
		margin: 0;

		& > li {
			width: 0.5em;
			height: 0.5em;
		}
		& > li > button {
			position: relative;
			width: inherit;
			height: inherit;
		}
		& > li > button::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			background-color: black;
			border-radius: 50%;
		}
	}

	// * Coursel arrow
	.carousel-arrow-container {
		background-color: transparent;
		position: absolute;
		/* left: 0; */
		top: 0;
		padding: 0 0.8em;
		z-index: 4;
		/* color: transparent; */
		/* width: 10%; */
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		outline: none;
		transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	}
	.carousel-arrow-prev {
		left: 0;
	}
	.carousel-arrow-next {
		right: 0;
	}
	.carousel-arrow-button {
		background-color: transparent;
		padding: 0;
		border: none;
		outline: none;
		z-index: 5;
	}
	.carousel-arrow-icon {
		cursor: pointer;
		background-color: whitesmoke;
		border-radius: 50%;
		color: rgb(119, 119, 119);
		z-index: 6;
		padding: 0;
	}
}

// * Action bar
.article__actionBar {
	padding: 0 0.5em;
	// margin-top: -1.2em;
	/* background-color: cyan; */
	display: flex;
	align-items: center;

	&__icon__container {
	}
	&__icon__container__button {
		padding: 0.5em;
		background-color: transparent;
		border: none;
		outline: none;
	}
	&__icon__container__button__icon {
		cursor: pointer;
		/* outline-width: .1em; */
	}

	// * Icon
	.send__icon {
		transform: rotate(-45deg) translate(0.2em, -0.4em);
	}
	.bookmark__icon {
		margin-left: auto;
	}
}

// * Description
.article__description {
	padding: 0 1em;
	font-size: 0.875em;

	a {
		text-decoration: none;
		color: $font-color;
		font-weight: 500;
		font-size: 1em;
	}

	// * more button
	.moreButton {
		display: inline-block;

		& button {
			color: rgb(142, 142, 142);
			// padding: 0;
			margin: 0;
			background-color: white;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}

	// * hashtag
	.hashtag {
		color: $font-color-link;
		font-weight: normal;

		&::after {
			content: " ";
			white-space: pre;
		}
	}

	// * username
	.username {
		display: inline-block;

		&::after {
			content: " ";
			white-space: pre;
		}
	}

	// * comment
	.comment {
		line-height: 1.2em;
		margin-bottom: 0.25em;
		width: 100%;
		display: flex;
		&__section {
			//
			margin-right: auto;
		}

		button {
			@extend .moreButton;
			padding: 0 0;
			margin-left: auto;
		}
	}

	// * caption section
	&__caption {
		line-height: 1.2em;
		margin-bottom: 0.25em;

		&__loveCount {
			display: block;
			margin-bottom: 0.5em;
		}
	}

	// * comment section
	&__comment {
		line-height: 1.2em;

		&__viewAll {
			display: block;
			margin-bottom: 0.25em;
			a {
				color: $font-color-grey;
				font-weight: normal;
			}
		}
		&__list {
		}

		&__createdAt {
			margin-bottom: 1em;

			a {
				color: $font-color-grey;
				font-weight: normal;
				font-size: 0.9em;
			}
		}
	}
}

// * Add comment
.article__comment__form {
	display: none;

	@include media(">query-tablet") {
		display: flex;
		align-items: stretch;
		padding: 1em;
		border-top: 1px solid $border-color;
	}

	& form {
		width: 100%;
	}

	&__inputGroup {
		width: 100%;

		& input {
			border: none;
			padding: 0.2em 0;
			display: inline-block;
			background-color: transparent;
			outline: none;
			width: 90%;
		}

		& button {
			padding: 0;
			border: none;
			outline: none;
			font-weight: 600;
			display: inline-block;
			color: rgb(0, 149, 246);
			background-color: transparent;
			margin-left: auto;
			cursor: pointer;
			width: 10%;
		}
	}
}
