// Home
@import "../../styles/utils/variable";
@import "../../styles/utils/media";
.home {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	min-height: 100vh;
	position: relative;

	&__article {
		width: 100%;
		max-width: 614px;
		min-height: 100vh;
		box-sizing: border-box;
		/* margin: 0 auto; */
	}

	&__aside {
		display: none;
		max-width: 293px;
		min-height: 10vh;
		width: 100%;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 6em;

		// $breakpoints: (
		// 	"query-1000": 1000px,
		// 	"query-735": 735px,
		// 	"query-640": 640px,
		// 	"query-500": 500px,
		// ) !default;

		@include media(">query-1000") {
			display: block;
		}
	}
}
