// Home
@import "../../styles/utils/variable";
@import "../../styles/utils/media";
.home {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	min-height: 100vh;
	position: relative;

	&__article {
		width: 100%;
		max-width: 614px;
		min-height: 100vh;
		box-sizing: border-box;
		margin: 0 auto;
		
		@include media(">query-large-desktop") {
			margin: 0;
		}
	}

	&__aside {
		display: none;
		max-width: 293px;
		min-height: 10vh;
		width: 100%;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 6em;

		@include media(">query-large-desktop") {
			display: block;
		}
	}
}
