.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	justify-self: stretch;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	padding: 1em calc((100% - 935px) / 2);
	border-bottom: 1px solid var(--border-color) ;
	&__logo {
		object-fit: contain;
	}
	&__search {
		display: none;
	}
	
	&__navigation{
		/* background-color: red; */
	}
}