.home{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
}
.home__article{
    width: 100%;
    max-width: 614px;
    min-height: 100vh;
    box-sizing: border-box;
    /* margin: 0 auto; */
}

.home__aside{
    background-color: yellow;
    max-width: 293px;
    min-height: 10vh;
    width: 100%;
}